PORT=3001
NODE_ENV=development
API_KEY=tu_api_key_secreta

# Configuración SUNAT
SUNAT_ENV=beta # beta | production
SUNAT_RUC=20000000001
SUNAT_USUARIO_SOL=MODDATOS
SUNAT_CLAVE_SOL=MODDATOS
SUNAT_CERT_PATH=./certs/certificate.pfx
SUNAT_CERT_PASSWORD=tu_clave_de_certificado
